# values.yaml
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`waf.int.sebastine.ng`)
#    matchRule: Host(`waf.sebastine.ng`)
    entryPoints:
      - web
      - websecure
#    Add TLS configuration for cert-manager secret
    tls:
      secretName: int-wildcard

providers:
  kubernetesGateway:
    enabled: true
gateway:
  listeners:
    web:
      namespacePolicy:
        from: All

service:
  enabled: true
  type: LoadBalancer
  spec:
    loadBalancerIP: 20.95.5.50
