global:
  tls:
    enabled: true
    existingSecret: int-wildcard

server:
  ha:
    enabled: true
    replicas: 2
    raft:
      enabled: true
      nodeId: vault-0
      path: /vault/data
      storageClass: america
      retryJoin:
        - leader_api_addr: http://vault-0.vault-internal:8200
    config: |
      listener "tcp" {
        address = "0.0.0.0:8200"
        cluster_address = "0.0.0.0:8201"
        tls_cert_file = "/vault/userconfig/tls/tls.crt"
        tls_key_file = "/vault/userconfig/tls/tls.key"
      }

      storage "raft" {
        path = "/vault/data"
      }

      service_registration "kubernetes" {}

ui:
  enabled: true

#Ingress for Traefik in ./vault-ui-ingress.yml


# Optional: adjust resources if you want limits/requests
resources:
  server:
    requests:
      cpu: "500m"
      memory: "512Mi"
    limits:
      cpu: "1"
      memory: "1Gi"
