controller:
  serviceType: LoadBalancer
  admin:
    username: admin
    password: admin123
  installPlugins:
    - kubernetes
    - workflow-aggregator
    - git
    - configuration-as-code
    - blueocean

  persistence:
    enabled: true
    existingClaim: ""
    storageClass: africa
    accessMode: "ReadWriteOnce"
    size: 8Gi

agent:
  enabled: true
  resources:
    requests:
      cpu: "200m"
      memory: "256Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"
